@import '../../styles/variables.scss';

.footer{
    margin-top: 100px;
    height: 30px;
    font-family: $mainFont;
    color: $secondaryColor;

    .name{
        text-align: center;
        font-size: 36px;
        font-weight: 400;
        line-height: 74.5px;
        letter-spacing: 0.4px;
        font-family: $secondaryFont;
    }

    nav{
        margin-top: 40px;
        display: flex;
        justify-content: center;

        ul{
            display: flex;
            align-items: center;
            gap: 50px;
            font-size: 20px;
            font-weight: 400;
            line-height: 143.2%;

            li{
                cursor: pointer;
                color: #fff;

                &:hover{
                    color: $secondaryColor;
                }
            }
        }
    }

    .links{
        margin-top: 40px;
        padding-bottom: 40px;
        border-bottom: 1px solid $secondaryColor;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 32px;
        
        a{
            background-color: #fff;
            padding: 7px;
            border-radius: 10px;
            transition: .1s all ease-in;

            &:hover{
                background-color: $secondaryColor;
            }

            img{
                width: 40px;
            }
        }
    }

    .copyright{
        font-size: 14px;
        color: #fff;
        padding: 20px 0px;
        text-align: center;
    }
}

@media screen and (max-width: 500px){
    .footer nav ul{
        flex-direction: column;
        gap: 15px;
    }
}